* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// TODO
:root {
  --background: #1a1d23;
  --body: #d7d7d7;
  --info: #bbbbbb;
  --heading: #f8f8f8;
  --highlight: #ff57b2;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--background);
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

a {
  font-weight: bold;
  color: var(--heading);
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}
